doctype html
html(lang="en")
  head
    title Example
    link(rel='stylesheet', href='css/app.css')
    body
        h1 Pug - node template engine
        footer
                p
                        |Stuff here and here


